{% extends 'index.html' %}
{% block content %}
  <h1>Detalles de Compra</h1>
  <p><strong>Fecha:</strong> {{ purchase.date }}</p>
  <p><strong>Cliente:</strong> {{ purchase.customer }}</p>
  <p><strong>Total:</strong> {{ purchase.total }}</p>
  <p><strong>Productos:</strong></p>
  <ul>
    {% for product in purchase.products.all %}
      <li>{{ product.name }} - {{ product.price }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'pizza_menu:purchase_list' %}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver a la Lista
  </a>
{% endblock %}

